curl -X POST   http://localhost:59720/rules   -H 'Content-Type: application/json'   -d '{
  "id": "notificationAlert",
  "sql": "SELECT * FROM EdgexStream WHERE Temperature > 37 OR Humidity > 34",
  "actions": [
    {
      "notification": {
        "protcole": "email",
        "server": "smtp.gmail.com",
        "port": "587",
        "sender": "edgex@gmail.com",     "password":"password",                                                                                                                                                                                                                                                                                                                   "recipients": [
          "moksit.abdelhakim@gmail.com"
        ],
        "subject": "Alert",
        "contentTemplate": "The temperature is {{.temperature}}°C and humidity is {{.humidity}}%."}
    },
    {
      "log":{}
    }
  ]
}'

